<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FossilIndia - Test Suite" parallel="methods" thread-count="1">

<listeners>
<listener class-name="utils.TestListner"/>
</listeners>

  <test name = "Home page Tests">
  <classes>
  <class name="tests.HomePageTest"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- FossilIndia - Test Suite -->
